<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- GULP -->
    <link rel="stylesheet" type="text/css" href="../styles.min.css">
    <!-- OLD -->
    <!-- <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/form.css"> -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <%- body %>
    </div>
    <!-- GULP -->
    <script type="text/javascript" src="../scripts.min.js"></script>
    <!-- OLD -->
    <!-- <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/bootstrap.js"></script> -->
  </body>
</html>